<table class="table">
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.car }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.startAt|date }}</td>
            <td>{{ order.endAt|date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
