{% extends "base.html.twig" %}

{% set title = "Активные заказы" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <a href="{{ path('new_order') }}" class="btn btn-default">Новый заказ</a>
    </div>
{% endblock %}
